body {
  margin: 0;
  overflow: hidden;
}

.background {
  width: 1339px;
  height: 700px;
  margin: 0 auto;
  position: relative;
  background: transparent url(../img/sky.png) no-repeat center;
}

.location {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.cloud {
  position: absolute;
  z-index: 2;
}

.cloud__one {
  top: 56px;
  right: -50px;
  -webkit-animation: animCloud 50s linear, 50s animTwoCloud 10s infinite linear;
          animation: animCloud 50s linear, 50s animTwoCloud 10s infinite linear;
}

.cloud__two {
  top: 110px;
  right: 394px;
  -webkit-animation: animCloud 65s linear, 65s animTwoCloud 30s infinite linear;
          animation: animCloud 65s linear, 65s animTwoCloud 30s infinite linear;
}

.cloud__three {
  top: 27px;
  right: 845px;
  -webkit-animation: animCloudTwo 44s linear, 44s animTwoCloudTwo 22s infinite linear;
          animation: animCloudTwo 44s linear, 44s animTwoCloudTwo 22s infinite linear;
}

.cloud__four {
  top: 152px;
  right: 653px;
  -webkit-animation: animCloud 120s linear, 120s animTwoCloud 55s infinite linear;
          animation: animCloud 120s linear, 120s animTwoCloud 55s infinite linear;
}

.cloud__five {
  top: 204px;
  right: 198px;
  -webkit-animation: animCloud 110s linear, 110s animTwoCloud 15s infinite linear;
          animation: animCloud 110s linear, 110s animTwoCloud 15s infinite linear;
}

.cloud__six {
  top: 228px;
  right: 330px;
  -webkit-animation: animCloud 100s linear, 100s animTwoCloud 14s infinite linear;
          animation: animCloud 100s linear, 100s animTwoCloud 14s infinite linear;
}

.cloud__seven {
  top: 216px;
  right: 448px;
  -webkit-animation: animCloud 130s linear, 130s animTwoCloud 25s infinite linear;
          animation: animCloud 130s linear, 130s animTwoCloud 25s infinite linear;
}

.cloud__eight {
  top: 194px;
  right: 675px;
  -webkit-animation: animCloud 201s linear, 201s animTwoCloud 70s infinite linear;
          animation: animCloud 201s linear, 201s animTwoCloud 70s infinite linear;
}

@-webkit-keyframes animCloud {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@keyframes animCloud {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@-webkit-keyframes animTwoCloud {
  from {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
  to {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
}

@keyframes animTwoCloud {
  from {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
  to {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
}

@-webkit-keyframes animCloudTwo {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(2300px);
            transform: translateX(2300px);
  }
}

@keyframes animCloudTwo {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(2300px);
            transform: translateX(2300px);
  }
}

@-webkit-keyframes animTwoCloudTwo {
  from {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
  to {
    -webkit-transform: translateX(1200px);
            transform: translateX(1200px);
  }
}

@keyframes animTwoCloudTwo {
  from {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
  to {
    -webkit-transform: translateX(1200px);
            transform: translateX(1200px);
  }
}

.squirrel {
  position: absolute;
  z-index: 3;
  bottom: 322px;
  left: 197px;
}

.squirrel .tors {
  position: absolute;
  bottom: -24px;
  right: -30px;
  z-index: 3;
}

.squirrel .tail {
  position: absolute;
  top: -33px;
  right: 4px;
}

.squirrel .tail .tail__img.im-1 {
  -webkit-animation-name: tail-rotate;
          animation-name: tail-rotate;
}

@-webkit-keyframes tail-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tail-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.squirrel .tail .tail__img {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-transform-origin: 90% 90% 0;
          transform-origin: 90% 90% 0;
}

.squirrel .shadow {
  position: absolute;
  top: 27px;
  right: -40px;
}

.squirrel .paws {
  position: absolute;
  z-index: 4;
  right: -37px;
  bottom: -8px;
}

.squirrel .paws .paws__img.im-1 {
  -webkit-animation-name: paws-rotate;
          animation-name: paws-rotate;
}

@-webkit-keyframes paws-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes paws-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.squirrel .paws .paws__img {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 30% 30% 0;
          transform-origin: 30% 30% 0;
}

.squirrel .paws .paws__img.next {
  position: absolute;
  opacity: 0;
}

.squirrel .head {
  position: absolute;
  z-index: 5;
  right: -32px;
  top: -40px;
}

@-webkit-keyframes head-1 {
  from {
    opacity: 1;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes head-1 {
  from {
    opacity: 1;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes head-2 {
  from {
    opacity: 0;
  }
  6% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes head-2 {
  from {
    opacity: 0;
  }
  6% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes head-3 {
  from {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  84% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes head-3 {
  from {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  84% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes head-4 {
  from {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  78% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes head-4 {
  from {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  78% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes head-5 {
  from {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  71% {
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  78% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes head-5 {
  from {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  71% {
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  78% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes head-6 {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  36% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  72% {
    opacity: 1;
  }
  73% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes head-6 {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  36% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  72% {
    opacity: 1;
  }
  73% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes head-7 {
  from {
    opacity: 0;
  }
  36% {
    opacity: 0;
  }
  37% {
    opacity: 1;
  }
  42% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes head-7 {
  from {
    opacity: 0;
  }
  36% {
    opacity: 0;
  }
  37% {
    opacity: 1;
  }
  42% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes head-8 {
  from {
    opacity: 0;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes head-8 {
  from {
    opacity: 0;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes head-9 {
  from {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  54% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes head-9 {
  from {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  54% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.squirrel .head .head__img {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.squirrel .head .head__img.next {
  position: absolute;
  opacity: 0;
}

.squirrel .head .head__img.head__im-1 {
  -webkit-animation-name: head-1;
          animation-name: head-1;
}

.squirrel .head .head__img.next.head__im-2 {
  top: 0px;
  left: 2px;
  -webkit-animation-name: head-2;
          animation-name: head-2;
}

.squirrel .head .head__img.next.head__im-3 {
  top: 0px;
  left: 4px;
  -webkit-animation-name: head-3;
          animation-name: head-3;
}

.squirrel .head .head__img.next.head__im-4 {
  top: 0px;
  left: 6px;
  -webkit-animation-name: head-4;
          animation-name: head-4;
}

.squirrel .head .head__img.next.head__im-5 {
  top: 1px;
  left: 6px;
  -webkit-animation-name: head-5;
          animation-name: head-5;
}

.squirrel .head .head__img.next.head__im-6 {
  top: 0px;
  left: 6px;
  -webkit-animation-name: head-6;
          animation-name: head-6;
}

.squirrel .head .head__img.next.head__im-7 {
  top: 1px;
  left: 6px;
  -webkit-animation-name: head-7;
          animation-name: head-7;
}

.squirrel .head .head__img.next.head__im-8 {
  top: 0px;
  left: 6px;
  -webkit-animation-name: head-8;
          animation-name: head-8;
}

.squirrel .head .head__img.next.head__im-9 {
  top: -1px;
  left: 6px;
  -webkit-animation-name: head-9;
          animation-name: head-9;
}

.bumblebee {
  position: absolute;
  z-index: 3;
  bottom: 271px;
  right: 536px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: bumblebee;
          animation-name: bumblebee;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.bumblebee .tors {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bumblebee .wing_left {
  position: absolute;
  bottom: 12px;
  right: 8px;
  z-index: 3;
}

.bumblebee .bumblebee__img {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bumblebee .bumblebee__img.next {
  position: absolute;
  opacity: 0;
}

.bumblebee .bumblebee__img.bumblebee__im-1 {
  -webkit-animation-name: bumblebee-1;
          animation-name: bumblebee-1;
}

.bumblebee .bumblebee__img.next.bumblebee__im-2 {
  bottom: 4px;
  right: 0;
  -webkit-animation-name: bumblebee-2;
          animation-name: bumblebee-2;
}

.bumblebee .bumblebee__img.next.bumblebee__im-3 {
  bottom: 4px;
  right: 0;
  -webkit-animation-name: bumblebee-3;
          animation-name: bumblebee-3;
}

.bumblebee .wing_right {
  position: absolute;
  bottom: 14px;
  right: -4px;
  z-index: 3;
}

.bumblebee .wing_right .bumblebee__img.next.bumblebee__im-2 {
  bottom: 3px;
  right: 0;
}

.bumblebee .wing_right .bumblebee__img.next.bumblebee__im-3 {
  bottom: 3px;
  right: 0;
}

@-webkit-keyframes bumblebee-1 {
  from {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bumblebee-1 {
  from {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bumblebee-2 {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bumblebee-2 {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bumblebee-3 {
  from {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bumblebee-3 {
  from {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bumblebee {
  20% {
    -webkit-transform: translatey(-2px);
            transform: translatey(-2px);
  }
  40% {
    -webkit-transform: translatey(-1px);
            transform: translatey(-1px);
  }
  60% {
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  80% {
    -webkit-transform: translatey(-1px);
            transform: translatey(-1px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes bumblebee {
  20% {
    -webkit-transform: translatey(-2px);
            transform: translatey(-2px);
  }
  40% {
    -webkit-transform: translatey(-1px);
            transform: translatey(-1px);
  }
  60% {
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  80% {
    -webkit-transform: translatey(-1px);
            transform: translatey(-1px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.flag {
  position: absolute;
  z-index: 3;
  top: 114px;
  left: 430px;
}

.flag .flag__img {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.flag .flag__img.next {
  position: absolute;
  opacity: 0;
}

.flag .flag__img.flag__im-1 {
  -webkit-animation-name: flag-1;
          animation-name: flag-1;
}

.flag .flag__img.next.flag__im-2 {
  bottom: 4px;
  left: 0;
  -webkit-animation-name: flag-2;
          animation-name: flag-2;
}

.flag .flag__img.next.flag__im-3 {
  bottom: 4px;
  left: 0;
  -webkit-animation-name: flag-3;
          animation-name: flag-3;
}

.flag .flag__img.next.flag__im-4 {
  bottom: 4px;
  left: 0;
  -webkit-animation-name: flag-4;
          animation-name: flag-4;
}

.flag .flag__img.next.flag__im-5 {
  bottom: 4px;
  left: 0;
  -webkit-animation-name: flag-5;
          animation-name: flag-5;
}

.flag .flag__img.next.flag__im-6 {
  bottom: 4px;
  left: 0;
  -webkit-animation-name: flag-6;
          animation-name: flag-6;
}

.flag .flag__img.next.flag__im-7 {
  bottom: 4px;
  left: 0;
  -webkit-animation-name: flag-7;
          animation-name: flag-7;
}

.flag .flag__img.next.flag__im-8 {
  bottom: 4px;
  left: 0;
  -webkit-animation-name: flag-8;
          animation-name: flag-8;
}

@-webkit-keyframes flag-1 {
  from {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flag-1 {
  from {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flag-2 {
  from {
    opacity: 0;
  }
  11% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flag-2 {
  from {
    opacity: 0;
  }
  11% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flag-3 {
  from {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  36% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flag-3 {
  from {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  36% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flag-4 {
  from {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flag-4 {
  from {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flag-5 {
  from {
    opacity: 0;
  }
  47% {
    opacity: 0;
  }
  48% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flag-5 {
  from {
    opacity: 0;
  }
  47% {
    opacity: 0;
  }
  48% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flag-6 {
  from {
    opacity: 0;
  }
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  72% {
    opacity: 1;
  }
  73% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flag-6 {
  from {
    opacity: 0;
  }
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  72% {
    opacity: 1;
  }
  73% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flag-7 {
  from {
    opacity: 0;
  }
  71% {
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flag-7 {
  from {
    opacity: 0;
  }
  71% {
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flag-8 {
  from {
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  84% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flag-8 {
  from {
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  84% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.boat {
  position: absolute;
  z-index: 3;
  bottom: 321px;
  right: 398px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: boat;
          animation-name: boat;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes boat {
  20% {
    -webkit-transform: translatex(-1px) translatey(-1px);
            transform: translatex(-1px) translatey(-1px);
  }
  40% {
    -webkit-transform: translatex(1px) translatey(1px);
            transform: translatex(1px) translatey(1px);
  }
  60% {
    -webkit-transform: translatex(-1px) translatey(-1px);
            transform: translatex(-1px) translatey(-1px);
  }
  80% {
    -webkit-transform: translatex(1px) translatey(1px);
            transform: translatex(1px) translatey(1px);
  }
  100% {
    -webkit-transform: translatex(0px) translatey(0px);
            transform: translatex(0px) translatey(0px);
  }
}

@keyframes boat {
  20% {
    -webkit-transform: translatex(-1px) translatey(-1px);
            transform: translatex(-1px) translatey(-1px);
  }
  40% {
    -webkit-transform: translatex(1px) translatey(1px);
            transform: translatex(1px) translatey(1px);
  }
  60% {
    -webkit-transform: translatex(-1px) translatey(-1px);
            transform: translatex(-1px) translatey(-1px);
  }
  80% {
    -webkit-transform: translatex(1px) translatey(1px);
            transform: translatex(1px) translatey(1px);
  }
  100% {
    -webkit-transform: translatex(0px) translatey(0px);
            transform: translatex(0px) translatey(0px);
  }
}

.player {
  position: absolute;
  z-index: 3;
  bottom: 137px;
  left: 12px;
}

.player__one {
  position: absolute;
  bottom: 136px;
  left: 629px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: player__one;
          animation-name: player__one;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  max-width: 53px;
  max-height: 82px;
}

@-webkit-keyframes player__one {
  20% {
    -webkit-transform: translatey(1px);
            transform: translatey(1px);
  }
  40% {
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  60% {
    -webkit-transform: translatey(6px);
            transform: translatey(6px);
  }
  80% {
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes player__one {
  20% {
    -webkit-transform: translatey(1px);
            transform: translatey(1px);
  }
  40% {
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  60% {
    -webkit-transform: translatey(6px);
            transform: translatey(6px);
  }
  80% {
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.bush {
  position: absolute;
  z-index: 4;
  bottom: 141px;
  left: 190px;
}
/*# sourceMappingURL=style.css.map */