@charset "UTF-8";
body {
  margin: 0;
  overflow: hidden;
}

.background {
  width: 1339px;
  height: 700px;
  margin: 0 auto;
  position: relative;
  background: transparent url(../img/sky.png) no-repeat center;
}

.location {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.cloud {
  position: absolute;
  z-index: 2;
}

.cloud__one {
  top: 56px;
  right: -50px;
  -webkit-animation: animCloud 50s linear, 50s animTwoCloud 10s infinite linear;
          animation: animCloud 50s linear, 50s animTwoCloud 10s infinite linear;
}

.cloud__two {
  top: 110px;
  right: 394px;
  -webkit-animation: animCloud 65s linear, 65s animTwoCloud 30s infinite linear;
          animation: animCloud 65s linear, 65s animTwoCloud 30s infinite linear;
}

.cloud__three {
  top: 27px;
  right: 845px;
  -webkit-animation: animCloudTwo 44s linear, 44s animTwoCloudTwo 22s infinite linear;
          animation: animCloudTwo 44s linear, 44s animTwoCloudTwo 22s infinite linear;
}

.cloud__four {
  top: 152px;
  right: 653px;
  -webkit-animation: animCloud 120s linear, 120s animTwoCloud 55s infinite linear;
          animation: animCloud 120s linear, 120s animTwoCloud 55s infinite linear;
}

.cloud__five {
  top: 204px;
  right: 198px;
  -webkit-animation: animCloud 110s linear, 110s animTwoCloud 15s infinite linear;
          animation: animCloud 110s linear, 110s animTwoCloud 15s infinite linear;
}

.cloud__six {
  top: 228px;
  right: 330px;
  -webkit-animation: animCloud 100s linear, 100s animTwoCloud 14s infinite linear;
          animation: animCloud 100s linear, 100s animTwoCloud 14s infinite linear;
}

.cloud__seven {
  top: 216px;
  right: 448px;
  -webkit-animation: animCloud 130s linear, 130s animTwoCloud 25s infinite linear;
          animation: animCloud 130s linear, 130s animTwoCloud 25s infinite linear;
}

.cloud__eight {
  top: 194px;
  right: 675px;
  -webkit-animation: animCloud 201s linear, 201s animTwoCloud 70s infinite linear;
          animation: animCloud 201s linear, 201s animTwoCloud 70s infinite linear;
}

@-webkit-keyframes animCloud {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@keyframes animCloud {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@-webkit-keyframes animTwoCloud {
  from {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
  to {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
}

@keyframes animTwoCloud {
  from {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
  to {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
}

@-webkit-keyframes animCloudTwo {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(2300px);
            transform: translateX(2300px);
  }
}

@keyframes animCloudTwo {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(2300px);
            transform: translateX(2300px);
  }
}

@-webkit-keyframes animTwoCloudTwo {
  from {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
  to {
    -webkit-transform: translateX(1200px);
            transform: translateX(1200px);
  }
}

@keyframes animTwoCloudTwo {
  from {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
  to {
    -webkit-transform: translateX(1200px);
            transform: translateX(1200px);
  }
}

.squirrel__conteiner {
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 328px;
  left: 195px;
}

.squirrel__conteiner .sprite__squirrel {
  background: url(../img/Безимени-4.png) 0px 0px;
  width: 106px;
  height: 77px;
  -webkit-animation: play 9s steps(9) infinite;
          animation: play 9s steps(9) infinite;
  z-index: 10;
}

@-webkit-keyframes play {
  100% {
    background-position-y: -693px;
  }
}

@keyframes play {
  100% {
    background-position-y: -693px;
  }
}

.bumblebee__conteiner {
  position: absolute;
  z-index: 3;
  bottom: 271px;
  right: 536px;
}

.bumblebee__conteiner .sprite__bumblebee {
  background: url(../img/шмель.png) 0px 0px;
  width: 47px;
  height: 45px;
  -webkit-animation: bumblebeeSprite 2s steps(15) infinite;
          animation: bumblebeeSprite 2s steps(15) infinite;
  z-index: 10;
}

@-webkit-keyframes bumblebeeSprite {
  100% {
    background-position-y: -675px;
  }
}

@keyframes bumblebeeSprite {
  100% {
    background-position-y: -675px;
  }
}

.flag__conteiner {
  height: 100vh;
  position: absolute;
  z-index: 3;
  top: 110px;
  left: 429px;
}

.flag__conteiner .sprite__flag {
  background: url(../img/flag2222.png) 0px 0px;
  width: 43px;
  height: 29px;
  -webkit-animation: flagSprite 9s steps(8) infinite;
          animation: flagSprite 9s steps(8) infinite;
  z-index: 10;
}

@-webkit-keyframes flagSprite {
  100% {
    background-position-y: -215px;
  }
}

@keyframes flagSprite {
  100% {
    background-position-y: -215px;
  }
}

.boat {
  position: absolute;
  z-index: 3;
  bottom: 321px;
  right: 398px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: boat;
          animation-name: boat;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes boat {
  20% {
    -webkit-transform: translatex(-1px) translatey(-1px);
            transform: translatex(-1px) translatey(-1px);
  }
  40% {
    -webkit-transform: translatex(1px) translatey(1px);
            transform: translatex(1px) translatey(1px);
  }
  60% {
    -webkit-transform: translatex(-1px) translatey(-1px);
            transform: translatex(-1px) translatey(-1px);
  }
  80% {
    -webkit-transform: translatex(1px) translatey(1px);
            transform: translatex(1px) translatey(1px);
  }
  100% {
    -webkit-transform: translatex(0px) translatey(0px);
            transform: translatex(0px) translatey(0px);
  }
}

@keyframes boat {
  20% {
    -webkit-transform: translatex(-1px) translatey(-1px);
            transform: translatex(-1px) translatey(-1px);
  }
  40% {
    -webkit-transform: translatex(1px) translatey(1px);
            transform: translatex(1px) translatey(1px);
  }
  60% {
    -webkit-transform: translatex(-1px) translatey(-1px);
            transform: translatex(-1px) translatey(-1px);
  }
  80% {
    -webkit-transform: translatex(1px) translatey(1px);
            transform: translatex(1px) translatey(1px);
  }
  100% {
    -webkit-transform: translatex(0px) translatey(0px);
            transform: translatex(0px) translatey(0px);
  }
}

.player {
  position: absolute;
  z-index: 3;
  bottom: 137px;
  left: 12px;
}

.player__one {
  position: absolute;
  bottom: 136px;
  left: 629px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: player__one;
          animation-name: player__one;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  max-width: 53px;
  max-height: 82px;
}

@-webkit-keyframes player__one {
  20% {
    -webkit-transform: translatey(1px);
            transform: translatey(1px);
  }
  40% {
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  60% {
    -webkit-transform: translatey(6px);
            transform: translatey(6px);
  }
  80% {
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes player__one {
  20% {
    -webkit-transform: translatey(1px);
            transform: translatey(1px);
  }
  40% {
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  60% {
    -webkit-transform: translatey(6px);
            transform: translatey(6px);
  }
  80% {
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.bush {
  position: absolute;
  z-index: 4;
  bottom: 141px;
  left: 190px;
}
/*# sourceMappingURL=style.css.map */