body {
    margin: 0;
    overflow: hidden;
}
.background {
    width: 1339px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    background: transparent url(../img/sky.png) no-repeat center;
}
.location {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.cloud {
    position: absolute;
    z-index: 2;
    
    &__one {
        top: 56px;
        right: -50px;
        animation: animCloud 50s linear, 50s animTwoCloud 10s infinite linear;
    }
    &__two {
        top: 110px;
        right: 394px;
        animation: animCloud 65s linear, 65s animTwoCloud 30s infinite linear;
    }
    &__three {
        top: 27px;
        right: 845px;
        animation: animCloudTwo 44s linear, 44s animTwoCloudTwo 22s infinite linear;
    }
    &__four {
        top: 152px;
        right: 653px;
        animation: animCloud 120s linear, 120s animTwoCloud 55s infinite linear;
    }
    &__five {
        top: 204px;
        right: 198px;
        animation: animCloud 110s linear, 110s animTwoCloud 15s infinite linear;
    }
    &__six {
        top: 228px;
        right: 330px;
        animation: animCloud 100s linear, 100s animTwoCloud 14s infinite linear;
    }
    &__seven {
        top: 216px;
        right: 448px;
        animation: animCloud 130s linear, 130s animTwoCloud 25s infinite linear;
    }
    &__eight {
        top: 194px;
        right: 675px;
        animation: animCloud 201s linear, 201s animTwoCloud 70s infinite linear;
    }
    @keyframes animCloud {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(2000px);
        }
    }
    @keyframes animTwoCloud {
        from {
            transform: translateX(-1100px);
        }
        to {
            transform: translateX(900px);
        }
    }

    @keyframes animCloudTwo {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(2300px);
        }
    }
    @keyframes animTwoCloudTwo {
        from {
            transform: translateX(-1100px);
        }
        to {
            transform: translateX(1200px);
        }
    }
}
.squirrel__conteiner {
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 328px;
    left: 195px;

    .sprite__squirrel {
        background: url(../img/Безимени-4.png) 0px 0px;
        width: 106px;
        height: 77px;
        animation: play 9s steps(9) infinite;
        z-index: 10;
    }

    @keyframes play {
        100% {
            background-position-y: -693px;
        }
    }
}

.bumblebee__conteiner {
    position: absolute;
    z-index: 3;
    bottom: 271px;
    right: 536px;
    // animation-duration: 3s;
    // animation-iteration-count: infinite;
    // animation-name: bumblebee;
    // animation-timing-function: linear;

    .sprite__bumblebee {
        background: url(../img/шмель.png) 0px 0px;
        width: 47px;
        height: 45px;
        animation: bumblebeeSprite 2s steps(15) infinite;
        z-index: 10;
    }
    @keyframes bumblebeeSprite {
        100% {
            background-position-y: -675px;
        }
    }
}

.flag__conteiner {
    height: 100vh;
    position: absolute;
    z-index: 3;
    top: 110px;
    left: 429px;

    .sprite__flag {
        background: url(../img/flag2222.png) 0px 0px;
        width: 43px;
        height: 29px;
        animation: flagSprite 9s steps(8) infinite;
        z-index: 10;
    }
    
    @keyframes flagSprite {
        100% {
            background-position-y: -215px;
        }
    }
}

.boat {
    position: absolute;
    z-index: 3;
    bottom: 321px;
    right: 398px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: boat;
    animation-timing-function: linear;

    @keyframes boat {
        20% {
            transform: translatex(-1px) translatey(-1px)
        }
        40% {
            transform: translatex(1px) translatey(1px);
        }
        60% {
            transform: translatex(-1px) translatey(-1px)
        }
        80% {
            transform: translatex(1px) translatey(1px)
        }
        100% {
            transform: translatex(0px) translatey(0px)
        }
    }
}


.player {
    position: absolute;
    z-index: 3;
    bottom: 137px;
    left: 12px;

    &__one {
        position: absolute;
        bottom: 136px;
        left: 629px;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: player__one;
        animation-timing-function: linear;
        max-width: 53px;
        max-height: 82px;
    }

    @keyframes player__one {
        20% {
            transform: translatey(1px)
        }
        40% {
            transform: translatey(3px);
        }
        60% {
            transform: translatey(6px)
        }
        80% {
            transform: translatey(3px)
        }
        100% {
            transform: translatey(0px)
        }
    }
}

.bush {
    position: absolute;
    z-index: 4;
    bottom: 141px;
    left: 190px;
}

